/* ==========   Main Block   ========== */

.main-nav-link:nth-child(5) .main-nav-item {
  background-color: #fef0f4;
}

.main-nav-link:nth-child(5) .main-nav-item {
  border-bottom: 8px solid #6c8d22;
}

/* ==========   About Block   ========== */

.about-block {
  font-family: 'Alegreya Sans';
  background: white;
  padding-left: 20px;
  padding-top: 20px;
}

.icon {
  display: inline-block;
}

.about-title {
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.about-block p {
  margin-bottom: 20px;
  font-size: 20px;
}

ol li {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.about-main-img {
  float: right;
}

.clearfix { display: block; }
.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }