/* ==========   Main Block   ========== */

.main-nav-link:nth-child(6) .main-nav-item {
  background-color: #fef0f4;
}

.main-nav-link:nth-child(6) .main-nav-item {
  border-bottom: 8px solid #6c8d22;
}

/* ==========   Careers Block   ========== */

.attractions-block {
  font-family: 'Alegreya Sans'; 
  background: white;
}

.attractions-header {
  padding: 20px 0;
}

.icon {
  margin-left: 15px;
  margin-right: 6px;
  display: inline-block;
}

.attractions-title {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
}

.attractions-item {
  width: 550px;
  margin: 10px;
  margin-bottom: -60px;
  margin-top: 0px;
  margin-left: 18px;
  display: inline-block;

}

.attractions-item img {
  width: 100%;
  
}

.attractions-item:hover .item-text-block {
  border-bottom: 8px solid yellow;
}

.item-text-block {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: white;
  top: -60px;
  left: 15px;
  font-size: 22px;
  padding: 10px 25px;
  box-sizing: border-box;
  height: 45px;
}

.footer-text-1 {
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  margin-top: -20px;
}

.footer-text-2 {
  margin-top: 25px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.under {
  cursor: pointer;
  text-decoration: underline;
}

.attractions-header p {
  font-size: 24px;
  margin: 25px 0;
  margin-left: 25px;
}