/* ==========   Main Block   ========== */

.main-nav-link:nth-child(4) .main-nav-item {
  background-color: #fef0f4;
}

.main-nav-link:nth-child(4) .main-nav-item {
  border-bottom: 8px solid #6c8d22;
}

/* ==========   Financial Block   ========== */

.financial-block {
  font-family: 'Alegreya Sans';
  background: white;
  padding-bottom: 40px;
}

.icon {
  margin-left: 15px;
  margin-top: 20px;
  display: inline-block;
}

.financial-title {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.financial-center-block {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;  
}

.text-block {
  display: inline-block;
  font-size: 24px;
  text-align: right;
  padding-right: 8px;
}

.price-block {
  display: inline-block;
  font-size: 54px;
  font-weight: 800;
  padding-left: 8px;
  border-left: 2px solid black;
  position: relative;
  top: -8px;
  padding-bottom: 8px;
}

.download-btn {
  cursor: pointer;
  color: #3a7594;
  display: block;
  border: 2px solid #3a7594;
  padding: 30px 50px;
  margin-bottom: 30px;
  margin: 0 auto;
  width: 290px;
  font-size: 24px;
  border-radius: 7px;
}